*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol {
    list-style: none;
}

img {
    max-height: 65px;
    border-radius: 50%;
}

.aside-user img,
.main-header img {
    max-height: 50px;
}

body {
    height: 100vh;
    padding: 20px 40px;
}

#root {
    height: 100%;
    display: flex;
    border: 2px solid black;
}

.aside {
    flex-basis: calc(100% / 3);
    display: flex;
    flex-direction: column;
}


.aside > div {
    flex-basis: 0;
}

.aside-user,
.main-header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside-user-details,
.main-header-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.aside-user-options{
    display: flex;
    gap: 10px;
    align-items: center;
}


.aside-notifications {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #8EDAFC;
    gap: 10px;
}

.aside-notifications > i {
    border-radius: 50%;
    background-color: white;
    padding: 1rem;
    color: #8EDAFC;
}

.aside-notifications a {
    text-decoration: underline;
    font-size: 14px;
}

.aside-search {
    padding: 10px;
}

.aside-search > div{
    display: flex;
}

.aside-search > div > i {
    padding: 10px 20px;
    border: 1px solid black;
    border-right: none;
    border-radius: 2px;
}

.aside-search > div > input {
    flex-basis: 0;
    flex-grow: 1;
    padding: 10px;
}

.aside-contacts {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 20px;
}

.aside-contacts-user {
    display: flex;
    gap: 10px;
    padding: 10px;
}



.main {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-header {
    flex-basis: 0;
}

.main-body {
    flex-basis: 0;
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    background-size: contain;
    padding: 55px 100px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-footer {
    flex-basis: 0;
    display: flex;
    padding: 10px;
}

.main-footer-emoticons,
.main-footer-vocal-audio {
    flex-basis: calc(100% / 10);
    text-align: center;
    padding: 10px;
}

.main-footer > input {
    flex-grow: 1;
    padding: 10px;
}

.message-sent,
.message-received {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    position: relative;
}

.message-sent {
    background-color: #D5F9BA;
    align-self: flex-end;
}

.message-received {
    background-color: white;
    align-self: flex-start;
}

.message-sent > span,
.message-received > span {
    position: absolute;
    font-size: 0.5rem;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
}